.balance {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 17px;
    text-align: center;
}

.balance div {
    margin: 14px 16px;
}

.balance-amount {
    order: 2
}

.balance-title {
    order: 1
}